<ion-header>
  <ion-navbar>
    <ion-title>
      Connect Tickets
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <!--
  <ion-card *ngFor="let item of items">
    <img src="{{item.url}}"/>
    <div class="card-title">{{item.title}}</div>
    <div class="card-subtitle">Number of Tickets: {{item.albumId}}</div>
  </ion-card>
  -->

  <ion-card *ngFor="let item of items" (click)="buyItem(item)">
    <img src="{{item.url}}"/>
    <ion-card-content>
      <ion-card-title>
        {{item.title}}
      </ion-card-title>
      <p>
        Ticket link: <strong>{{item.thumbnailUrl}}</strong>
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
